.maze {
  min-width: 450px;
  height: 750px;
  border-right: 7px solid #fff;
  border-bottom: 7px solid #fff;
  box-sizing: border-box;

  .maze-row {
    display: flex;

    .maze-cell {
      width: 30px;
      height: 30px;
      box-sizing: border-box;
      position: relative;

      &.north {
        border-top: 7px solid #fff;
      }

      &.west {
        border-left: 7px solid #fff;
      }

      &.object {
        &::after {
          position: absolute;
          top: -2px;
          text-align: center;
          font-size: 1.2em;
          z-index: 1;
        }

        &__end-point {
          background-image: url('../img/endpoint.png');
          background-repeat: no-repeat;
          background-size: 23px 23px;
        }

        &__domokun {
          background-image: url('../img/domokun.png');
          background-repeat: no-repeat;
          background-size: 23px 23px;
        }

        &__pony {
          background-image: url('../img/pony.png');
          background-repeat: no-repeat;
          background-size: 23px 23px;
        }
      }
    }
  }
}